/* =======================================
    style.css
    use this file for your custom styles
========================================== */

/* use a box model that makes sense */


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* set the default color, font-size, and line height */
html {
  background-color: #D10000;
  font-size: 1em;
  line-height: 1.4;
  background-image: url("img/Transformers_symbols.png");
}

.wrap {
  margin: 0 auto;
  max-width: 1200px; /* change this width to make a wider page!*/
  padding: 0 1em; /* 1em of padding on the left and right side */
}

/* make images and embedded media fluid */
img,
object {
  max-width: 100%;
}

/* type hierarchy- change for your project */
h1 {
  background-color: #B2B2B2;
  color: #CF0000  ;
  font-size: 3em;
  text-align: center; /* 48px */
  font-family: "Times New Roman", Times, serif;
}

h2 {
  background-color: #B2B2B2;
  color: #CF0000  ;
  font-size: 2.25em /* 36px */;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

h3 {
  color: white;
  font-size: 1em /* 28px */;
  text-align: center;
  font-family: "Times New Roman", Times, serif;

}

h4 {
  color: white;
  font-size: 1.125em /*18px */;
  text-align: center;
  font-family: "Times New Roman", Times, serif;

}

/* navigation list styles */
nav {
  list-style: none;
  margin: 0;
  padding: 500;
  color: white;
  text-align: center;
  background-color: #B2B2B2;
}

/* =======================================
    author styles
    place your custom styles below here
========================================== */





















/* =======================================
    Layout
    keep this at the bottom
========================================== */

@media (min-width: 620px) {
  .column {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
  }

  .column.full {
    width: 100%;
  }

  .column.two-thirds {
    width: 66.7%;
  }

  .column.half {
    width: 50%;
  }

  .column.third {
    width: 33.3%;
  }

  .column.fourth {
    width: 25%;
  }

  .column.flow-opposite {
    float: right;
  }
}


/* row used as a clearfix to clear floats */
.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row {
  *zoom: 1;
}
